body {
    font-family: Times, serif;
    color: rgb(255, 255, 255);
    width: 100%;
    background-image: url("images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    background-color: rgb(33, 216, 216);
    text-align: center;
    padding: 0.5%;
}

.header h4 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    color: aquamarine;
}

.citation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(122, 181, 248);
    margin: 0 auto;
    padding: 5%;
    width: 80%;
    gap: 2rem;
}